.main {
    background: var(--color-white);
    background: white;
    color: black;
}

.main .hero {
    width: 90%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 2fr));
}

.hero .heroPicture>img {
    width: 100%;
}

.hero .heroContent>h3 {
    margin: 20px 0;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
}

.hero .heroContent>p {
    width: 90%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    font-weight: 200;
    letter-spacing: 0.8px;
}