.main {
    background: var(--color-white);
    background: white;
    /* height: 500px; */
    color: black;
}

.main .hero {
    width: 90%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 2fr));
}

/* .main .hero>.heroContent,
.main .hero>.heroPicture {
    width: 50%;
} */

.hero .heroPicture>img {
    width: 100%;
}

.hero .heroContent>h3 {
    margin-bottom: 10px;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 400;
}

.hero .heroContent>p {
    width: 75%;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 0.8px;
}