.main {
    padding-top: 90px;
    background: white;
    height: 100vh;
    display: grid;
    place-items: center;
    color: black;

}

.grid {
    position: absolute;
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 8px;
    box-sizing: border-box;
}

.heading {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

.heading>button {
    padding: 7px 50px;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
}

.heading>button:disabled {
    color: white;
    transition: 2s all;
    background: black;
}

@media screen and (max-width:600px) {
    .grid {

        width: 100%;
    }

    .heading>button {
        padding: 10px;
    }

    .grid {
        padding: 0 10px;
        background: transparent;
    }
.heading>button{
    padding: 12px 25px;
}
}