.main {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.card {
    box-sizing: border-box;
    width: 95%;
    margin: 0 auto;
    height: 100%;
    gap: 10px;
    display: grid;
    padding: 20px 0;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}


.divider {
    display: flex;
    height: 100%;
    justify-content: center;
}

.name {
    width: 100%;
    height: 100%;
}

.mainModal {
    background: transparent;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    display: grid;
    place-items: center;
    position: fixed;
}

@media screen and (max-width:600px) {
    .mainModal {
      height: 70vh;
    }
}