@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

:root {
  --color-blue: #3a86ff;
  --color-white: #fff;
  --color-black: #000;
  --box-shadow: 0 -15px 25px #141b29;
  --font-family: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-family);
  background: var(--color-black);
  color: var(--color-white);
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: var(--font-family);
}