.main {
    text-align: center;
box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 40px 0;
    height: auto;
    background: var(--color-white);
    border-radius: 3px;
    /* border: 1px solid rgb(24, 24, 24); */
    transform: scale(1);
    transition: 1s;
}
.main>img {
    width: 30%;
    padding: 0 50px;
}
.main>p{
    margin-top: 10px;
    font-weight: 200;
 
    text-transform: capitalize;
}
.main:hover{
  transform: scale(1.05);
}